h1 {
  color: #24b12b;
  margin: 2rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 3rem;
  text-shadow: 1px 1px 2px #fff;
}

body {
  background-color:  #f0f0f5;
  padding: 0 1rem;
}

.day-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

ul.day-of-week li {
  color: #28f432;
  text-shadow: 1px 1px 2px #fff;
  list-style-type: none;
  display: grid;
  justify-content: center;
  font-size: 1.5rem;
}

.CalendarPage {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 10px;
}

ul.CalendarPage li {
  border-radius: 10px;
  list-style-type: none;
  background-color: #b3b3cc;
  display: grid;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  padding-top: 0.5rem;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

ul.CalendarPage li span {

  color: #24b12b;
  text-align: center;
  
}

#appointment {
  box-shadow: 2px 2px 6px #28f432;
  border-radius: 10px;
  width:50%;
  margin: 3rem auto;
  text-align: center;
  padding: 1rem;
  overflow: auto;
  grid-column: 1 / span 2;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem;
}

.form-row {
  grid-column: 3 / span 2;
}

.form-item textarea {
  width: 100%;
}

.form-item input {
  float: right;
}

.title input {
  margin-bottom: 1rem;
  padding: 10px;
}

label {
  padding: 0.5rem 0;
  color: #330000;
  display: block;
}

label.formHeader {
  font-size: 1.5rem;
  font-weight: bold;
}

label.date {
  text-align: right;
}

.add {
  padding: 10px 20px;
  background-color: grey;
  border: none;
  color: #fff;
  float: right;
  margin-top: 1rem;
}

.add:hover {
  background-color: #b3b3cc;
  color: grey;
}

.clear {
  padding: 10px 20px;
  background-color: #f53128; 
  border: none;
  color: #fff;
  float: right;
  margin-top: 1rem;
}

#delete {
  padding: 10px 20px;
  background-color: #f53128; 
  border: none;
  color: #fff;
  margin-top: 1rem;
}

.clear:hover, #delete:hover {
  background-color: #FF5733; 
}

#save {

  padding: 10px 20px;
  background-color: #24b12b; 
  border: none;
  color: #fff;
  margin-top: 1rem;

}

#save:hover {
  background-color: #28f432;  ; 
}

.green-border {
  border: 2px solid #28f432;
}